<!DOCTYPE html>
<html>
<head>
  <title>Quiz3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <% if user_signed_in? %>
    Signed in as: <%= current_user.name %>
    <%= link_to "Sign Out", sessions_path, method: :delete %>
    <%= link_to "New Idea", new_idea_path %>
  <% else %>
    <%= link_to "Sign up", new_user_path %> |
    <%= link_to "Sign In", new_session_path %>
  <% end %>

  <%= link_to "All Ideas", ideas_path %>
</nav>
<%= yield %>

</body>
</html>
